*.json
!important.json
config1.json
config2.json
testeconfig.json
/Log/Log-basemuro.txt
/Log/Log-manipularbancomuro.txt
/Log/log-replicarversion.txt
/Log/Log-Downloadbackup.txt
/TesteInterface.py
/Log/
/Config/
/build/
BuscaMuro.spec
dist/BuscaMuro.exe
dist/Log/base_muro.txt
partes.py
testedownload/testegit.py
MSS_interface.py
teste1.py
teste2.py
testedownload/BuscaMuro.exe
__pycache__/
testedownload/Log/
campos_tkinter.py