*.json
/Log/Log-basemuro.txt
/Log/Log-manipularbancomuro.txt
/Log/log-replicarversion.txt
/Log/Log-Downloadbackup.txt
/Log/
/Config/
/build/
BuscaMuro.spec
dist/BuscaMuro.exe
dist/Log/base_muro.txt
/dist/Config/prog.conf
.idea